<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Lab 3.1.1 
# *Data Wrangling and Munging with Pandas*

## Part 1: Wrangling Data

The term "data wrangling" is analogous to capturing wild horses and getting them into a fenced area; the horses are data and the fencing is your computer. The more common data wrangling tasks include:

- reading flat files
- reading Excel files
- downloading from web pages
  - csv
  - html
  - json

In [6]:
import numpy as np
import pandas as pd

*It is good practice to display the library version numbers for future reference:*

In [7]:
print('Numpy: ', np.__version__)
print('Pandas: ', pd.__version__)

Numpy:  1.19.2
Pandas:  1.1.3

### CSV Files

Below are three attempts to load the file "bikeshare.csv" into a DataFrame named `bikes`. Why are they wrong?

In [8]:
# wrong:
bikes = pd.read_table('dat/bikeshare.csv', header = None)
print(bikes.head())
print()

# wrong:
bikes = pd.read_table('dat/bikeshare.csv', header = 1)
print(bikes.head())
print()

# wrong:
bikes = pd.read_table('dat/bikeshare.csv', header = 0)
print(bikes.head())

FileNotFoundError: [Errno 2] No such file or directory: 'dat/bikeshare.csv'

?:
ANSWER: Case 1 treats headings as just another data row. Case 2 treats the 1st data row as the column header. Case 3 gets the header right (row 0), but reads each row as a single column (Nb. the other two make that same mistake).

Load the file "bikeshare.csv" into a DataFrame named `bikes`, and confirm that it was loaded properly:

In [9]:
#ANSWER:
bikes = pd.read_table('C:/Users/Peter Le/Desktop/Institute of Data/Dataset/bikeshare.csv', header = 0, sep = ',')

bikes.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

Note that we could have used `read.csv()` above. When is `read_table()` necessary?

?:
ANSWER: When `sep` is not the comma character, or we need fine control that `read.csv()` does not provide.

Flat files can be full of surprises. Here are some issues to watch out for:

- separator character is something other than the comma
  - ";", "|", and tab are popular
- newline character is something other than what the O/S expects 
  - Tip: Don't hard-code the character codes for carriage returns, linefeeds, etc. Use Python's built-in representation instead (e.g. Python translates "\n" to the newline character and "\t" to the tab character on any O/S).
- truncated lines
  - if there are empty fields at the end of a line it is possible that their separators will be missing, resulting in a "jagged" file
- embedded commas or quotes
  - a free-text field containing embedded commas may split into separate fields on input
  - a free-text field containing embedded quotes may not parse correctly
- unescaped characters
  - the "\" character indicates a control code to Python, which will break the I/O
    - e.g. the substring "\u0123" will be interpreted as Unicode(0123) -- which may not be what the file creator intended
  - these may need to be fixed by loading whole strings and then parsing into a new data frame
  
Tip: Most issues can be delth with by correctly specifying the parameters of the function you use to load the file. Read the doco before reading the data!

### Reading Excel Files

In [11]:
from pandas import ExcelFile  # Nb. Need to install xlrd from conda (it does not automatically install with pandas)

In [13]:
df = pd.read_excel('C:/Users/Peter Le/Desktop/Institute of Data/DOI Dataset/Iris.xls', sheet_name = 'Data')
df

,Species_No,Petal_width,Petal_length,Sepal_width,Sepal_length,Species_name
0,1,0.2,1.4,3.5,5.1,Setosa
1,1,0.2,1.4,3.0,4.9,Setosa
2,1,0.2,1.3,3.2,4.7,Setosa
3,1,0.2,1.5,3.1,4.6,Setosa
4,1,0.2,1.4,3.6,5.0,Setosa
...,...,...,...,...,...,...
145,3,2.3,5.2,3.0,6.7,Verginica
146,3,1.9,5.0,2.5,6.3,Verginica
147,3,2.0,5.2,3.0,6.5,Verginica
148,3,2.3,5.4,3.4,6.2,Verginica
149,3,1.8,5.1,3.0,5.9,Verginica

So, this file appears to have an embedded table of aggregates on the same sheet as the raw data (a naughty but common practice amongst analysts).

It is usually better to load data correctly than to meddle with the source file or load it 'warts and all' and then try to parse it in code. The Pandas functions for reading files have parameters that provide the control we need. For ecxample, we could make multiple calls to `read_excel()`, using combinations of the `header`, `usecols`, `skiprows`, `nrows`, and `skipfooter` parameters to load one table at a time from a spreadsheet with multiple tables.

Load the above file without the unwanted columns:

In [0]:
#ANSWER

### Importing Data Directly from the Web

We usually want to store a local copy of a data file that we download from the Web, but when data retention is not a priority it is convenient to download the data directly into our running Python environment.

#### Importing Text Files from the Web

The web is the 'wild west' of data formats. However, we can usually expect good behaviour from files that are automatically generated by a service, such as the earthquake report:

In [14]:
df = pd.read_csv('https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_hour.csv')
df.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2021-01-05T23:20:48.830Z,64.8087,-147.7647,17.4,2.8,ml,NaN,NaN,NaN,0.74,...,2021-01-05T23:26:19.781Z,"1 km E of South Van Horn, Alaska",earthquake,NaN,0.2,NaN,NaN,automatic,ak,ak
1,2021-01-05T22:41:02.365Z,62.8942,-150.0648,34.3,2.6,ml,NaN,NaN,NaN,0.77,...,2021-01-05T22:58:14.040Z,"49 km N of Chase, Alaska",earthquake,NaN,0.6,NaN,NaN,automatic,ak,ak

#### Importing HTML Files from the Web

Working with unstructured HTML files relies heavily on library functions. This one, however, is well-structured:

In [3]:
url = 'http://www.fdic.gov/bank/individual/failed/banklist.html'
df = pd.read_html(url)
df

ValueError: No tables found

#### Importing XML Files from the Web

XML files are semi-structured, but you're at the mercy of the file creator. If every record has the same format it will be much easier, but practical applications often require a lot of custom code. Here is an example that includes a nice parser class: http://www.austintaylor.io/lxml/python/pandas/xml/dataframe/2016/07/08/convert-xml-to-pandas-dataframe/

#### Importing JSON Files from the Web

Like XML, JSON files are semi-structured and may require work to capture the schema into a dataframe. Here is a simple example:

In [3]:
url = 'https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/data.json'

# Load the first sheet of the JSON file into a data frame
df = pd.read_json(url, orient = 'columns')
df.head()

   integer            datetime  category
0        5 2015-01-01 00:00:00         0
1        5 2015-01-01 00:00:01         0
2        9 2015-01-01 00:00:02         0
3        6 2015-01-01 00:00:03         0
4        6 2015-01-01 00:00:04         0

## Part 2: Data Munging

Data munging is manipulating data to get it into a form that we can start running analyses on (which usually means getting the data into a DataFrame). Before we get to this stage, we may need to remove headers or footers, transpose columns to rows, split wide data tables into long ones, and so on. (Nb. Excel files can be particularly troublesome, because users can format their data in mixed, complex shapes.) Essentially, we need to follow Hadley Wickham's guidelines for tidy datasets (http://vita.had.co.nz/papers/tidy-data.html):

The end goal of the cleaning data process:

- each variable should be in one column
- each observation should comprise one row
- each type of observational unit should form one table
- include key columns for linking multiple tables
- the top row contains (sensible) variable names
- in general, save data as one file per table

### Dataset Morphology

Once we have our dataset in a DataFrame (or Series, if our data is only 1-dimensional), we can start examining its size and content.

How many rows and columns are in `bikes`?

In [148]:
#ANSWER
bikes.shape

(17379, 17)

What are the column names in `bikes`?

In [21]:
#ANSWER
bikes.columns

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'hr', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'],
      dtype='object')

What are the data types of these columns?

In [18]:
#ANSWER
bikes.dtypes

instant         int64
dteday         object
season          int64
yr              int64
mnth            int64
hr              int64
holiday         int64
weekday         int64
workingday      int64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
casual          int64
registered      int64
cnt             int64
dtype: object

What is the (row) index for this DataFrame?

In [22]:
#ANSWER
bikes.index

RangeIndex(start=0, stop=17379, step=1)

https://www.dataquest.io/blog/python-json-tutorial/

## Slicing and Dicing

It is often preferable to refer to DataFrame columns by name, but there is more than one way to do this. 
Do `bikes['season']` and `bikes[['season']]` give the same object? Demonstrate:

In [27]:
#ANSWER
bikes['season']
bikes[['season']]

       season
0           1
1           1
2           1
3           1
4           1
...       ...
17374       1
17375       1
17376       1
17377       1
17378       1

[17379 rows x 1 columns]

How would we use object notation to show the first 4 rows of `atemp`?

In [30]:
#ANSWER
bikes.atemp[:4]

0    0.2879
1    0.2727
2    0.2727
3    0.2879
Name: atemp, dtype: float64

Algorithms that loop over multiple columns often access DataFrame columns by index. However, none of the following work (try them out by uncommenting / removing the "#E: " ):

In [38]:
bikes[[0]]
#E: bikes[0]
#E: bikes[0,0]
#E: bikes[[0,0]]

KeyError: "None of [Int64Index([0], dtype='int64')] are in the [columns]"

What is the correct way to access the 1st row of the DataFrame by its index?

In [11]:
#ANSWER
bikes[:1]

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16

What is the correct way to access the 2nd column of the DataFrame by its index?

In [12]:
#ANSWER
bikes.iloc[:, 1]

0        2011-01-01
1        2011-01-01
2        2011-01-01
3        2011-01-01
4        2011-01-01
            ...
17374    2012-12-31
17375    2012-12-31
17376    2012-12-31
17377    2012-12-31
17378    2012-12-31
Name: dteday, Length: 17379, dtype: object

## Handling Missing Values

What is the Pandas `isnull` function for?

?
ANSWER:

We can apply `isnull` to the `bikes` DataFrame to show the result for every element:

In [43]:
bikes.isnull().head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

However, we usually start at a higher level. How many nulls are in `bikes` altogether?

In [59]:
#ANSWER
# Find null count for whole DataFrame
bikes.isnull().sum()
# Find null count for specific column
(bikes['season'].isnull().sum())

0

If this result were nonzero we would next want to find out which columns contained nulls. How can this be done in one line of code?

In [13]:
#ANSWER
# This returns boolean values only:
bikes.columns.isnull()

# For a specific count, use:
bikes.isnull().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

What is the Numpy object `nan` used for? (Write a descriptive answer.)

?
ANSWER: Marking a data point as invalid.

Write (and verify) a function that performs scalar division with built-in handling of the edge case (i.e. return a value instead of just trapping the error):

In [14]:
#ANSWER

# NaN stands for 'Not a Number', which represents a value that is undefined or unpresentable. 
# E.g. a mathematical operation that doesn't make sense such as division by zero

def divide(dividend, divisor):
    if divisor == 0:
        answer = np.nan
    else:
        answer = dividend / divisor
    return (answer)

print(divide(5,0))

nan

Apply the Pandas `isna` function to the following data objects:

In [16]:
x = 2.3
y = np.nan
print(x, y)

2.3 nan

In [17]:
#ANSWER
print(pd.isna(x), pd.isna(y))

False True

In [76]:
array = np.array([[1, np.nan, 3], [4, 5, np.nan]])
print(array)

[[ 1. nan  3.]
 [ 4.  5. nan]]

In [77]:
#ANSWER
pd.isna(array)

array([[False,  True, False],
       [False, False,  True]])

How is the pandas I/O parameter `na_values` used?

? ANSWER: By default, values such as NaN or N/A are considered as NaN values. We can also add our own values we consider as Nan.

For example, we want to use the string 'No Value' as a NaN value:

na_values = 'No Value'

## Data Profiling

### Counts

When there are categorical variables in a dataset we will want to know how many possible values there are in each column. (Nb. If the dataset is a sample of a larger one, our sample may not capture all possible values of every categorical.)

How many (different) seasons are in `bikes`?

In [19]:
#ANSWER
# This function determines FREQUENCY of each value
bikes.season.value_counts()

3    4496
2    4409
1    4242
4    4232
Name: season, dtype: int64

### Ranges

Print the range of the `instant`, `dteday`, and `windspeed` columns:

In [33]:
#ANSWER
print('instant range is from', bikes.instant.min(), 'to', bikes.instant.max())
print('dteday range is from', bikes.dteday.min(), 'to', bikes.dteday.max())
print('windspeed range is from', bikes.windspeed.min(), 'to', bikes.windspeed.max())

instant range is from 1 to 17379
dteday range is from 2011-01-01 to 2012-12-31
windspeed range is from 0.0 to 0.8507

Compute and print the overall minimum and maximum of the numeric data columns:

In [38]:
# Use argument 'numeric = True' to force numeric data type
bikes_min, bikes_max = (min(bikes.min(numeric_only=True)),
                        max(bikes.max(numeric_only=True)))
bikes_min, bikes_max

(0.0, 17379.0)

### Quantiles

Pandas makes computing quantiles easy. This is how to get the median of a Series:

In [39]:
bikes['atemp'].quantile(0.5)

0.4848

Of course, the `quantiles` method can take a tuple as its argument. Compute the 10th, 25th, 50th, 75th, and 90th percentiles in one line of code:

In [110]:
#ANSWER
bikes['atemp'].quantile((0.1, 0.25, 0.5, 0.75, 0.9))

0.10    0.2424
0.25    0.3333
0.50    0.4848
0.75    0.6212
0.90    0.6970
Name: atemp, dtype: float64

### Cuts

Sometimes we want to split the sample not by the quantiles of the distribution but by the range of the data. Let's take a closer look at `atemp`:

In [41]:
type(bikes['atemp'])

pandas.core.series.Series

In [42]:
bikes.sample(5)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
14490,14491,2012-08-31,3,1,8,23,0,5,1,1,0.74,0.6818,0.62,0.1045,32,142,174
5866,5867,2011-09-06,3,0,9,22,0,2,1,2,0.54,0.5152,0.94,0.3284,5,79,84
11759,11760,2012-05-10,2,1,5,4,0,4,1,1,0.46,0.4545,0.77,0.1940,0,2,2
10945,10946,2012-04-06,2,1,4,5,0,5,1,1,0.32,0.3030,0.53,0.3284,0,23,23
4037,4038,2011-06-22,3,0,6,3,0,3,1,1,0.66,0.6061,0.78,0.1343,0,7,7

Suppose we decide to sort these values into 4 bins of equal width, but we want to apply the resulting groups to the entire DataFrame. Basically, we need to add a row label that indcates which bin each sample belongs in. Let's call this label "atemp_level", and use the `cut` method to populate it:

In [43]:
atemp_level = pd.cut(bikes['atemp'], bins = 4)

What is `atemp_level`?

In [45]:
#ANSWER: It is a Series
print(type(atemp_level))
atemp_level

<class 'pandas.core.series.Series'>

0        (0.25, 0.5]
1        (0.25, 0.5]
2        (0.25, 0.5]
3        (0.25, 0.5]
4        (0.25, 0.5]
            ...
17374    (0.25, 0.5]
17375    (0.25, 0.5]
17376    (0.25, 0.5]
17377    (0.25, 0.5]
17378    (0.25, 0.5]
Name: atemp, Length: 17379, dtype: category
Categories (4, interval[float64]): [(-0.001, 0.25] < (0.25, 0.5] < (0.5, 0.75] < (0.75, 1.0]]

Here is a random sample of `atemp_level`:

In [120]:
atemp_level.sample(5)

9948     (0.25, 0.5]
6191     (0.5, 0.75]
3650     (0.5, 0.75]
7082     (0.25, 0.5]
14702    (0.5, 0.75]
Name: atemp, dtype: category
Categories (4, interval[float64]): [(-0.001, 0.25] < (0.25, 0.5] < (0.5, 0.75] < (0.75, 1.0]]

So, by default, `cut` produces labels that indicate the bin boundaries for each element in the series it was applied to. Usually, we will specify labels that are appropriate to the discretisation we are applying:

In [46]:
atemp_level = pd.cut(bikes['atemp'], bins = 4, labels = ["cool", "mild", "warm", "hot"])
atemp_level.sample(5)

13994    warm
3496      hot
5572     warm
13491    warm
3945     warm
Name: atemp, dtype: category
Categories (4, object): ['cool' < 'mild' < 'warm' < 'hot']

Incorporate the new `atemp_level` column into the `bikes` DataFrame and use it to count the number of "mild" `atemp` entries in `season` 2:

In [55]:
#ANSWER

#insert column using format df.['new column'], using our new cut bin categories 'atemp_level'
bikes['atemp_level'] = atemp_level
bikes.head()

#use our new Dataframe with our new column to count number of 'mild' in atemp column where 'season' = 2
#format: df[(column = condition_1) & (column = condition_2)].any_column.count()
bikes[(bikes.atemp_level == 'mild') & (bikes.season == 2)].atemp_level.count()

1829

*Nb. The `atemp_level` variable we created is what the R language calls a "factor". Pandas has introduced a new data type called "category" that is similar to R's factors.*

# Synthetic Data

Sometimes we may want to generate test data, or we may need to initalise a series, matrix, or data frame for input to an algorithm. Numpy has several methods we can use for this.

Execute the following, then check the shape and content of each variable:

In [57]:
# Creating arrays with initial values
a = np.zeros((3))
b = np.ones((1,3))
c = np.random.randint(1,10,(2,3,4))   # randint(low, high, size)
d = np.arange(4)
e = np.array( [[1,2,3,4], [5,6,7,8]] )

In [0]:
# Cleaning Data

## Load Data

Load rock.csv and clean the dataset.

In [59]:
rock = pd.read_csv('rock.csv')
rock.head()

,Song Clean,ARTIST CLEAN,Release Year,COMBINED,First?,Year?,PlayCount,F*G
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,NaN,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1

## Check Column Names

Check column names and clean.

In [60]:
rock.columns

Index(['Song Clean', 'ARTIST CLEAN', 'Release Year', 'COMBINED', 'First?',
       'Year?', 'PlayCount', 'F*G'],
      dtype='object')

In [63]:
# Some column names have inconsistent capitalisation (should use lower case), some with symbols (remove symbols, some with spaces (replace with _)

def clean_column_name(column_names): # define a function to clean column names
    clean_column_names = [] #initialize empty list to use as list of columns later
    for x in column_names: #target the variable x in the following values:
        #the format for replace() function is string.replace(old, new)
        x = x.lower().replace(' ', '_') # we make sure each letter is lower case. We replace spaces with '_'
        x = x.lower().replace('*','') # we replace symbols with nothing
        x = x.lower().replace('?','') # same as above
        clean_column_names.append(x) #we append x to our column list
        
    return clean_column_names

In [65]:
# replace DataFrame column with our clean column names
rock.columns = clean_column_name(rock.columns)

rock.columns

Index(['song_clean', 'artist_clean', 'release_year', 'combined', 'first',
       'year', 'playcount', 'fg'],
      dtype='object')

# Replace Null Values With 0

Check 'release' column whether this column have any null value or not. Replace null value with 0.

In [66]:
# check for null values in any columns
rock.isnull().sum()

song_clean        0
artist_clean      0
release_year    577
combined          0
first             0
year              0
playcount         0
fg                0
dtype: int64

In [73]:
# column 'release_year' has has 577 null values
# use a mask to find all rows with null values, then convert it to an integer: 0

null_mask = rock.release_year.isnull() # find all rows in column 'release_year' with null values
rock.loc[null_mask, 'release_year'] = 0 #recall loc function ('row name', 'column name')

In [74]:
# recheck
rock.isnull().sum()

song_clean      0
artist_clean    0
release_year    0
combined        0
first           0
year            0
playcount       0
fg              0
dtype: int64

# Check Datatypes of Dataset

Check datatypes of the dataset. Is there any column which should be int instead of object? Fix the column.

In [71]:
rock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2230 entries, 0 to 2229
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   song_clean    2230 non-null   object
 1   artist_clean  2230 non-null   object
 2   release_year  1653 non-null   object
 3   combined      2230 non-null   object
 4   first         2230 non-null   int64
 5   year          2230 non-null   int64
 6   playcount     2230 non-null   int64
 7   fg            2230 non-null   int64
dtypes: int64(4), object(4)
memory usage: 139.5+ KB

In [77]:
#release year should be an integer, not an object

rock.release_year.value_counts()

0                577
1973             104
1975              83
1977              83
1970              81
1971              75
1969              72
1980              70
1978              64
1979              63
1981              61
1967              61
1983              60
1976              56
1982              54
1984              51
1972              50
1974              48
1968              46
1985              39
1987              39
1986              37
1991              34
1989              32
1966              30
1988              29
1965              28
1994              25
1990              22
1993              19
1964              14
1992              14
1999              13
1995              10
1963               9
1996               9
1997               9
2002               6
1998               6
2004               5
2005               5
2012               5
2001               4
2011               3
2008               3
1962               3
2000               3
2007               3
2003               3
2014               2
2013               2
1958               1
SONGFACTS.COM      1
1961               1
1071               1
2006               1
1955               1
Name: release_year, dtype: int64

In [87]:
# the object was 'SONGFACTS.COM'
# create a mask to remove it

songs_facts_mask = rock.release_year == 'SONGFACTS.COM'
rock.loc[songs_facts_mask, 'release_year'] = np.NaN #convert to NaN (Not a Number)

In [91]:
#convert release_year into numeric type using function: 'to_numeric(argument)'
rock.release_year = pd.to_numeric(rock.release_year)

In [92]:
#recheck
rock.dtypes

song_clean       object
artist_clean     object
release_year    float64
combined         object
first             int64
year              int64
playcount         int64
fg                int64
dtype: object

# Check Min, Max of Each Column

Is there any illogical value in any column? How can we fix that?

In [94]:
rock.describe().T[['min', 'max']]

              min     max
release_year  0.0  2014.0
first         1.0     1.0
year          0.0     1.0
playcount     0.0   142.0
fg            0.0   142.0

In [99]:
# we can write this into a function

def check_min_max(df):
    print(df.describe().T[['min', 'max']])
    
check_min_max(rock)

              min     max
release_year  0.0  2014.0
first         1.0     1.0
year          0.0     1.0
playcount     0.0   142.0
fg            0.0   142.0

# Write Some Functions

In [100]:
rock.head()

,song_clean,artist_clean,release_year,combined,first,year,playcount,fg
0,Caught Up in You,.38 Special,1982.0,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,0.0,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981.0,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980.0,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975.0,Art For Arts Sake by 10cc,1,1,1,1

## Write a function that will take a row of a DataFrame and print out the song, artist, and whether or not the release date is < 1970

In [119]:
def row_print(df, index_row):
    print(f"Song: {df.iloc[index_row, 0]}")
    print(f"Artist: {df.iloc[index_row, 1]}")
    print(f"Released before 1970: {df.iloc[index_row, 2] < 1970}")

In [120]:
# check index row 1
rock.iloc[1]

song_clean                     Fantasy Girl
artist_clean                    .38 Special
release_year                              0
combined        Fantasy Girl by .38 Special
first                                     1
year                                      0
playcount                                 3
fg                                        0
Name: 1, dtype: object

In [121]:
# try out new function:
row_print(rock, 1)

Song: Fantasy Girl
Artist: .38 Special
Released before 1970: True

## Write a function that converts cells in a DataFrame to float and otherwise replaces them with np.nan

In [125]:
def float_convert(column):
    column = pd.to_numeric(column, errors='coerce') # force values to become numeric
    return column

## Apply these functions to your dataset

rock.apply(float_convert)

## Describe the new float-only DataFrame.

In [129]:
rock.describe().T #transposed for easier readibility

,count,mean,std,min,25%,50%,75%,max
release_year,2229.0,1465.988784,866.834789,0.0,0.0,1973.0,1981.0,2014.0
first,2230.0,1.000000,0.000000,1.0,1.0,1.0,1.0,1.0
year,2230.0,0.741256,0.438043,0.0,0.0,1.0,1.0,1.0
playcount,2230.0,16.872646,25.302972,0.0,1.0,4.0,21.0,142.0
fg,2230.0,15.048430,25.288366,0.0,0.0,3.0,18.0,142.0



> 
>
>

>

>

>



---



---



> > > > > > > > > © 2019 Institute of Data


---



---